@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  display: flex !important;
  justify-content: center;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 28px !important;
}